Repository ThanhPhat1080/react-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jest --findRelatedTests --bail

Update commit-msg
  .husky/commit-msg
Due: none

Update pre-commit
  .husky/pre-commit
Due: none

Update .lintstagedrc
  .lintstagedrc
Due: none

Update README.md
  README.md
Due: none

feat: update styles
  package-lock.json
  package.json
  src/App.css
  src/index.css
  yarn.lock
Due: prettier --write

Update Readme
  README.md
Due: none

feat: add storybook
  .storybook/main.js
  .storybook/preview-head.html
  .storybook/preview.js
  package.json
  src/Components/Animals/Animals.stories.tsx
  src/Components/Animals/Animals.tsx
  src/Components/index.ts
  yarn.lock
Due: prettier --write, eslint --fix, jest --findRelatedTests --bail

feat: add storybook
  .husky/commit-msg
  .husky/pre-commit
Due: none

feat: update readme
  README.md
Due: none

feat: update readme
  .gitignore
  package-lock.json
  package.json
Due: none

feat: update lint
  src/App.test.tsx
  src/App.tsx
  src/assets/index.ts
  src/helpers/index.ts
  src/utils/index.ts
Due: prettier --write, eslint --fix, jest --findRelatedTests --bail

feat: update config
  .gitignore
  commitlint.config.js
  jest.config.ts
  package.json
Due: prettier --write, eslint --fix, jest --findRelatedTests --bail

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{html,css})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  jest --findRelatedTests --bail: any of: *.{js,jsx,ts,tsx}
